<div class="row">
<div class="torn-notepad" 
style="width: 230px; min-width: 230px; padding: 1rem; box-sizing: border-box; display: flex; flex-direction: 
column; align-items: stretch; justify-content: flex-start; height: 75vh; margin-left: 2rem;">    
<h3 style="margin: 0; white-space: nowrap; font-size: 1.4rem; text-align: center;"> {{ currGroupName }} </h3>
    <hr >
    <div>
        @for ( room of rooms; track room)
        {
            <button
            (click)="switchRooms(room)"
            class="btn-block"
            [style.background-color]="room === currentRoom ? '#a8d1ff' : 'transparent'"
            [style.border-style]="room === currentRoom ? 'solid' : 'dashed'"
            style="text-align: left; white-space: nowrap; margin-bottom: 0.5rem;;"
            >
            # {{ room }}
            </button>
        }
    </div>
    </div>

    <div style="flex: 10; display: flex; flex-direction: column; padding: 0 1.5rem;">   

        <div style="border-bottom: 3px solid #222; margin-bottom: 1rem; padding-bottom: 0.3rem;">
            <h2 style="margin: 0;"> {{currentRoom}} </h2>
        </div>

        <div style="gap: 1rem; display: flex; flex-direction: column;">
            @for(msg of activeMessage; track msg.id)
            {
                @if(msg.senderUserName === currentUser)
                {
                    <div class="card" style="align-self: flex-end; width: fit-content; max-width: 70%; background-color: antiquewhite; min-width: 280px; padding: 0.6rem 1rem; margin: 0;"> 
                        <p style="margin: 0; font-weight: bold; font-size: 1rem;"> {{ msg.senderUserName }} - {{msg.timeStamp}} </p>
                        <p style="margin: 0.2rem 0 0 0;"> {{ msg.content }} </p>
                    </div>
                } 
                @else 
                {
                    <div class="card" style="align-self: flex-start; width: fit-content; max-width: 70%; background-color: aqua; min-width: 280px; padding: 0.6rem 1rem; margin: 0;">
                        <p style="margin: 0; font-weight: bold; font-size: 1rem;"> {{ msg.senderUserName }} - {{msg.timeStamp}} </p>
                        <p style="margin: 0.2rem 0 0 0;"> {{ msg.content }} </p>
                    </div>
                }
            }
        </div>

    </div>

<div class="torn-notepad" 
style="width: 230px; min-width: 230px; padding: 1rem; box-sizing: border-box; display: flex; flex-direction: 
column; align-items: stretch; justify-content: flex-start; height: 75vh; margin-right: 2rem;">    
<h3 style="margin: 0; white-space: nowrap; font-size: 1.4rem; text-align: center;"> Group Members </h3>
    <hr >
    <div>
        @for ( member of groupMembers; track member)
        {
        @if(member.isAdmin)
        {
            <p 
            class="text-warning"
            > 
                Admin: {{ member.userName }}
            </p>
        } @else 
        {
            <p 
            class="text-secondary"
            > 
                User: {{ member.userName }}
            </p>
        }
        }
    </div>
    </div>

    
</div>